Repository upJiang/jiang-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat(init): 初始化
  .husky/pre-commit
Due: none

feat(模板): 完成vue3-vite-pc模板创建
  .env.development
  .env.prod
  .env.test
  .eslintignore
  .eslintrc.js
  README.md
  components.d.ts
  index.html
  materials/blocks/index.less
  materials/blocks/index.vue
  materials/blocks/model.ts
  materials/blocks/presenter.tsx
  materials/blocks/service.ts
  mock/test.ts
  package.json
  src/App.vue
  src/main.ts
  src/router/index.ts
  src/router/modules/home/index.ts
  src/style.css
  src/utils/cookie.ts
  src/utils/request.ts
  src/views/home/api.ts
  src/views/home/index.less
  src/views/home/index.vue
  src/views/home/model.ts
  src/views/home/presenter.tsx
  src/views/home/service.ts
  src/views/home/store.ts
  src/vite-env.d.ts
  types/commom.d.ts
  types/global.d.ts
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

fix(init): 添加gitignore
  .gitignore
Due: none

feat(init): 更新readme
  README.md
Due: none

feat(init): 添加vue-mobile模板
  .lintstagedrc
  .vscode/settings.json
  README.md
  components.d.ts
  index.html
  package.json
  src/App.vue
  src/main.ts
  src/utils/request.ts
  src/views/home/index.vue
  src/views/home/presenter.tsx
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

fix(规范): 修正styleLint
  .eslintrc.js
  .lintstagedrc
  .stylelintrc.js
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  src/style.css
  src/views/home/index.less
  src/views/home/index.vue
  stylelint.config.js
  yarn.lock
Due: eslint, stylelint

fix(模板): 完成vue3-vite-mobile
  .eslintrc.js
  .vscode/settings.json
  index.html
  package.json
  src/views/home/index.less
  src/views/home/index.vue
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: eslint, stylelint

feat(react): init
  .eslintrc.cjs
  .gitignore
  README.md
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

feat(main): 更新
  .DS_Store
  .eslintrc.cjs
  README.md
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

feat(模板): 完成
  .gitignore
  .lintstagedrc
  README.md
  package.json
  postcss.config.js
  src/views/home/index.less
  src/views/home/index.vue
  yarn.lock
Due: eslint, stylelint

feat(react模板): 更新
  .Vscode/settings.json
  .eslintignore
  .eslintrc.cjs
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .prettierrc.js
  .stylelintignore
  README.md
  commitlint.config.cjs
  materials/blocks/index.less
  materials/blocks/index.tsx
  materials/blocks/model.ts
  materials/blocks/presenter.tsx
  materials/blocks/service.ts
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/router/index.tsx
  src/router/modules/home.tsx
  src/views/about/index.less
  src/views/about/index.tsx
  src/views/about/model.ts
  src/views/about/presenter.tsx
  src/views/about/service.ts
  src/views/home/index.less
  src/views/home/index.tsx
  src/views/home/model.ts
  src/views/home/presenter.tsx
  src/views/home/service.ts
  stylelint.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

feat(react): 添加请求
  .env.development
  .env.prod
  .env.test
  README.md
  materials/blocks/index.tsx
  mock/test.ts
  package.json
  src/utils/cookie.ts
  src/utils/request.ts
  src/views/home/api.ts
  src/views/home/index.tsx
  src/views/home/presenter.tsx
  src/views/home/service.ts
  vite.config.ts
  yarn.lock
Due: eslint

fix(请求): 修复请求问题
  src/utils/request.ts
Due: eslint

feat(react): 完成react-vite-pc 模板
  README.md
  components.d.ts
  package.json
  src/views/about/index.tsx
  src/views/about/model.ts
  src/views/home/index.tsx
  src/views/home/model.ts
  src/views/home/presenter.tsx
  src/views/home/store.ts
  yarn.lock
Due: eslint

feat(react): 更新
  README.md
Due: none

fix(react): 修改readme
  README.md
Due: none

feat(react): 完成react移动端
  README.md
  package.json
  postcss.config.js
  src/main.tsx
  src/utils/request.ts
  src/views/home/index.less
  src/views/home/index.tsx
  yarn.lock
Due: eslint

feat(小程序模板): 完成
  README.md
  mock/test.ts
  package.json
  src/main.ts
  src/pages.json
  src/pages/about/index.scss
  src/pages/about/index.vue
  src/pages/about/model.ts
  src/pages/about/presenter.tsx
  src/pages/about/service.ts
  src/pages/home/index.scss
  src/pages/home/index.vue
  src/pages/home/presenter.tsx
  src/pages/home/service.ts
  src/router.ts
  src/types/common.d.ts
  src/utils/commom.ts
  src/utils/request.ts
  vite.config.ts
  yarn.lock
Due: eslint, stylelint

feat(模板): 更新
  .gitignore
  README.md
Due: none

fix(uniapp模板): 修改md文件
  .Vscode/settings.json
  README.md
Due: none

fix(小程序): 添加404页面
  src/pages.json
  src/pages/notFound/index.scss
  src/pages/notFound/index.vue
  src/pages/notFound/model.ts
  src/pages/notFound/presenter.tsx
  src/pages/notFound/service.ts
  src/router.ts
Due: eslint, stylelint

fix(uniapp模板): 修改样式引入方式
  .Vscode/settings.json
  src/pages/about/index.vue
  src/pages/home/index.vue
  src/pages/notFound/index.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{vue,ts,js,jsx}
  stylelint: any of: *.{vue,scss,css}
